<%= render 'shared/header' %>
<%= render 'shared/nav' %>  


<div class="container">
  <div class="row">
    <div class="span12"> 

      <div class="hero-unit">
        <div class="page-header">
          <h2><%= @page.page_header %></h2>
        </div>
        
        <div>
          <h3><span class="add-on"><i class="icon-envelope-alt"></i></span> <%= @page.three_heading_1 %></h3>
          <h6><%= @page.six_heading_1 %></h6>
          <a href="mailto:<%= @page.email_1 %>"><%= @page.email_1 %></a>
          <br/><br/>
          <h6><%= @page.six_heading_2 %></h6>
          <p><a href="mailto:<%= @page.email_2 %>"><%= @page.email_2 %></a></p>
          <p><a href="mailto:<%= @page.email_3 %>"><%= @page.email_3 %></a></p>
          <p><a href="mailto:<%= @page.email_4 %>"><%= @page.email_4 %></a></p>
        </div>
        <br/>
      
        <div>
          <h3><span class="add-on"><i class="icon-phone"></i></span>  <%= @page.three_heading_2 %></h3>
          <h6><%= @page.six_heading_3 %></h6>
          <p><%= @page.paragraph_1 %></p>
          <h6><%= @page.six_heading_4 %></h6>
          <p><%= @page.paragraph_2 %></p>
          <p><%= @page.paragraph_3 %></p>
          <p><%= @page.paragraph_4 %></p>
        </div>
        <br/>
        
        <div>
          <h3><span class="add-on"><i class="icon-home"></i></span>  <%= @page.three_heading_3 %></h3>
          <address>
            <%= @page.address_line_1 %><br>
            <%= @page.address_line_2 %><br>
            <%= @page.address_line_3 %><br>
          </address>
      </div>
      
    </div>
  </div>
</div>

<%= render 'shared/footer' %>  