<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
    
      <div class="nav-collapse" id="main-menu">
        <ul class="nav" id="main-menu-left">
          <li class="<%= 'active' if params[:controller] == 'home' %>"> <a href="/home">Home</a> </li>
          <li class="<%= 'active' if params[:controller] == 'services' %>"> <a href="/services">Services</a> </li>
          <li class="<%= 'active' if params[:controller] == 'about_us' %>"> <a href="/about_us">About Us</a> </li>
          <li class="<%= 'active' if params[:controller] == 'testimonials' %>"> <a href="/testimonials">Testimonials</a> </li>
          <li class="<%= 'active' if params[:controller] == 'contact_us' %>"> <a href="/contact_us">Contact Us</a> </li>
          <li class="divider-vertical"></li>

          <li class="<%= 'active' if params[:controller] == 'pages' %>"> <a href="/pages/<%= Page.find_by_page_type("home").id %>">Admin<span class="add-on"><i class="icon-paper-clip"></i></span></a> </li>
        </ul>
      </div>
       
    </div>
  </div>
</div>