<div class="span3">
  <div class="well sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Admin</li>
        <li> <a href="/pages/<%= Page.find_by_page_type("home").id %>">Home</a> </li>
        <li> <a href="/pages/<%= Page.find_by_page_type("services").id %>">Services</a> </li>
        <li> <a href="/pages/<%= Page.find_by_page_type("about_us").id %>">About Us</a> </li>
        <li> <a href="/pages/<%= Page.find_by_page_type("testimonials").id %>">Testimonials</a> </li>
        <li> <a href="/pages/<%= Page.find_by_page_type("contact_us").id %>">Contact Us</a> </li>
    </ul>
  </div>
</div>

<!--<li class="<%= 'active' if params[:controller] == 'home' %>"> <a href="/pages/1/edit">Home</a> </li>-->

