<div class='row'>
  <div class='span6'>
    <fieldset>
    
      <div class="control-group">
        <%= f.label :page_header, "Page Header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
          
      <div class="control-group">
        <%= f.label :paragraph_1, "Paragraph 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :paragraph_2, "Paragraph 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :three_heading_1, "Large heading 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :three_heading_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address, "Address", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :link_1, "Map Link", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :link_1 %>
        </div>
      </div>
                        
    </fieldset>
  </div>
</div>