<div class='row'>
  <div class="span8">
  
    <h2>Edit - About Us Page</h2>
    <br/>
    <fieldset class='well fields'>
    
      <div class="control-group">
        <%= f.label :page_header, "Page Header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
          
      <div class="control-group">
        <%= f.label :paragraph_1, "Paragraph 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_area :paragraph_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :paragraph_2, "Paragraph 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_area :paragraph_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :three_heading_1, "Location heading", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :three_heading_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :address_line_1, "Address line 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_1 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :address_line_2, "Address line 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :address_line_3, "Address line 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_3 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :link_1, "Map Link", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_area :link_1 %>
        </div>
      </div>
                        
    </fieldset>

  </div>
</div>