<div class='row'>
  <div class='span8'>
    <fieldset class='well fields'>
      
      <h2><span class="add-on"><i class="icon-pencil"></i></span> Edit - Contact Us Page</h2>
      <br/>
    
      <div class="control-group">
        <%= f.label :page_header, "Page header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :three_heading_1, "Main heading 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :three_heading_1 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :six_heading_1, "Email heading 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_1 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :email_1, "Email 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :email_1 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :six_heading_2, "Email heading 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_2 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :email_2, "Email 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :email_2 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :email_3, "Email 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :email_3 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :email_4, "Email 4", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :email_4 %>
        </div>
      </div>
      
 
      
      <div class="control-group">
        <%= f.label :three_heading_2, "Main heading 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :three_heading_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :six_heading_3, "Telephone heading 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_3 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :paragraph_1, "Telephone 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_1 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :six_heading_4, "Telephone heading 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_4 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :paragraph_2, "Telephone 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_2 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :paragraph_3, "Telephone 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_3 %>
        </div>
      </div>
            
      <div class="control-group">
        <%= f.label :paragraph_4, "Telephone 4", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_4 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :three_heading_3, "Main heading 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :three_heading_3 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :address_line_1, "Address line 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_1 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :address_line_2, "Address line 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :address_line_3, "Address line 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :address_line_3 %>
        </div>
      </div>
      
      <%= f.submit 'Save Changes', :class => 'btn btn-large btn-success' %>
   
    </fieldset>
  </div>
</div>





