<div class='row'>
  <div class='span8'>
    <fieldset  class='well fields'>
      <h2><span class="add-on"><i class="icon-pencil"></i></span> Edit - Services Page</h2>
      <br/>

      <div class="control-group">
        <%= f.label :page_header, "Page header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
          
      <div class="control-group">
        <%= f.label :paragraph_1, "Paragraph 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_area :paragraph_1 %>
        </div>
      </div>
      
      <%= f.submit 'Save Changes', :class => 'btn btn-large btn-success' %>
    </fieldset>
  </div>
</div>