<div class='row'>
  <div class='span8'>
  
    <fieldset class='well fields'>
      <h2><span class="add-on"><i class="icon-pencil"></i></span> Edit - Testimonials Page</h2>
      
      <br/>
    
      <div class="control-group">
        <%= f.label :page_header, "Page header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
      
        <%= f.fields_for @testimonials do |builder| %>
          <%= render 'testimonial_fields', :f => builder %>
        <% end %>

      <%= f.submit 'Save Changes', :class => 'btn btn-large btn-success' %>            
    </fieldset>
    
  </div>
</div>