<div class='row'>
  <div class='span6'>
    <fieldset>
    
      <div class="control-group">
        <%= f.label :page_header, "Page Header", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :page_header %>
        </div>
      </div>
                
      <div class="control-group">
        <%= f.label :six_heading_1, "Small heading 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_1 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :paragraph_1, "Paragraph 1", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_1 %>
        </div>
      </div>

      <div class="control-group">
        <%= f.label :six_heading_2, "Small heading 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_2 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :paragraph_2, "Paragraph 2", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_2 %>
        </div>
      </div>
      
            <div class="control-group">
        <%= f.label :six_heading_3, "Small heading 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :six_heading_3 %>
        </div>
      </div>
      
      <div class="control-group">
        <%= f.label :paragraph_3, "Paragraph 3", :class=>'control-label'%>
        <div class="controls">
          <%= f.text_field :paragraph_3 %>
        </div>
      </div>
      
    </fieldset>
  </div>
</div>