<%= render 'shared/header' %>
<%= render 'shared/nav' %>  

<div class="container">
  <div class="row">
    <%= render 'shared/sidenav' %>  
    <div class="span9"> 
      <%= render 'form' %> 
      
      <%= link_to 'Display', @page %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>