<%= render 'shared/header' %>
<%= render 'shared/nav' %>  

<div class="container">
  <div class="row">
    <%= render 'shared/sidenav' %>  

    <div class="hero-unit span8"> 
      <p>
        <b>Page title:</b>
        <%= @page.page_title %>
      </p>    
    
      <%= link_to 'Edit', edit_page_path(@page) %>
    </div>

  </div>
</div>

<%= render 'shared/footer' %>