<%= render 'shared/header' %>
<%= render 'shared/nav' %>  


<div class="container">
  <div class="row">
    <div class="span12"> 
      
      <div class="hero-unit">
        <div class="page-header">
          <h2><%= @page.page_header %></h2>
        </div>
        
        <% @testimonials.each do |testimonial| %>
          <% unless testimonial.customer_info.blank? %>
            <h6><%= testimonial.customer_info %></h6>
            <p><%= testimonial.customer_testimonial %></p>      
            <br/>      
            <br/>
          <% end %>
        <% end %>

      </div>
      
    </div>
  </div>
</div>


<%= render 'shared/footer' %>  